@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("./image/web_background.jpg");
    background-color: rgb(25, 0, 68);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: min(1280px, 100%);
    position: relative;
}

.wrapper header{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.wrapper header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1em;
}

.wrapper header nav ul li:first-child{
    margin-right: auto;
    color: white;
}

.wrapper header nav ul li a{
    padding: 5px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    position: relative;
}

.wrapper header nav ul li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: 200ms ease;
}

.wrapper header nav ul li .menu-icon{
    cursor: pointer;
}

.wrapper header nav ul li a:hover:before{
    width: 100%;
}

.wrapper header .side-bar{
    position: absolute;
    top: 0;
    right: 0;
    width: min(240px, 100%);
    height: 100vh;
    box-shadow: -2px 0 10px gray;
    backdrop-filter: blur(10px);
    display:  none;
}

.wrapper header .side-bar ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.wrapper header .side-bar li{
    width: 100%;
    margin: 3px 0;
}

.wrapper header .side-bar .close-icon{
    cursor: pointer;
}

.wrapper header .side-bar a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    font-size: 18px;
}


@media (max-width: 540px) {
    .menu-icon{
        display: block;
    }

    .main-bar{
        display: none;
    }
}

@media (min-width: 541px) {
    .wrapper header nav ul li .menu-icon{
        display: none;
    }

    .main-bar{
        display: flex;
    }

    .side-bar{
        display: none;
    }
}



